Source: swift-bench
Section: net
Priority: optional
Maintainer: PKG OpenStack <openstack-devel@lists.alioth.debian.org>
Uploaders: Ondřej Nový <novy@ondrej.org>,
           Thomas Goirand <zigo@debian.org>,
Build-Depends: debhelper (>= 9),
               dh-python,
               openstack-pkg-tools,
               python-all,
               python-setuptools,
               python-sphinx,
Build-Depends-Indep: python-eventlet (>= 0.17.4),
                     python-mock,
                     python-testtools,
                     subunit,
                     testrepository,
Standards-Version: 3.9.7
Homepage: https://github.com/openstack/swift-bench
Vcs-Browser: https://anonscm.debian.org/cgit/openstack/swift-bench.git
Vcs-Git: https://anonscm.debian.org/git/openstack/swift-bench.git

Package: swift-bench
Architecture: all
Depends: python-eventlet (>= 0.17.4),
         python-swift,
         python-swiftclient,
         ${misc:Depends},
         ${python:Depends},
Provides: ${python:Provides},
Description: benchmarking tool for Swift
 Swift Bench is simple tool for benchmarking OpenStack Swift cluster
 .
 OpenStack Object Storage (code-named Swift) creates redundant, scalable object
 storage using clusters of standardized servers to store petabytes of
 accessible data. It is not a file system or real-time data storage system, but
 rather a long-term storage system for a more permanent type of static data
 that can be retrieved, leveraged, and then updated if necessary. Primary
 examples of data that best fit this type of storage model are virtual machine
 images, photo storage, email storage and backup archiving. Having no central
 "brain" or master point of control provides greater scalability, redundancy
 and permanence.
